Christopher Qian
<%= image_tag("me.png") %>
<div style="background-color:green; color:white;"> Walnut, California </div>
Sophomore <br/>
<b style="color: red">Owns a rare pepe collection</b><br/>
<u style="color: blue">Pokemon :)</u>